در این پروژه شما باید یک سیستم توصیه‌گر بسازید . داده‌ها مربوط به فیلم های وبسایت IMDB هستند. دو فایل وجود دارد که یکی لیست فیلم‌ها و ژانر آن‌ها و دیگری امتیاز کاربران به این فیلم‌ها. از آنجایی این مثال در آزمایشگاه توضیح داده شده است، انتظار می‌رود یک فایل نوتبوک جدید بسازید و کدها را توضیح دهید. نتیجه کدها و گزارش خود را در قالب جوپیتر نوتبوک ارسال کنید. هرچه گزارش شما و توضیح شما درباره کدها کامل تر باشد نمره کامل تری نیز دریافت می‌کنید. فایل‌های مورد نیاز به صورت زیپ در پیوست آمده‌اند.

فایل movies.csv

movieId : شناسه فیلم
title : عنوان فیلم
 genres : ژانر فیلم
فایل rating.csv

userId : شناسه کاربر
movieId : شناسه فیلمی که کابر به آن امتیاز داده
rating : امتیازی که این کاربر به فیلم داده
timestamp : زمان دقیق ثبت امتیاز کاربر

In [1]:
import pandas as pd

In [2]:
df_movies = pd.read_csv('../../data/imdb_movies.csv')
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
df_ratings = pd.read_csv('../../data/imdb_ratings.csv')
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]